<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <% if(products.length > 0) { %>
      <div class="grid">
        <% for(let prod of products) { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%=prod.name%></h1>
          </header>
          <div class="card__content">
            <h2 class="product__price">$<%=prod.price%></h2>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>No Products found</h1>
      <% } %>
    </main>
  </body>
</html>
